.modal-content {background-color: rgb(240, 240, 240);}

.story-info-modal-header {
    height: 45px;
    display: flex;
    align-items:center;
    overflow: hidden;
    padding: 0px;
    background-color: black;
}

.story-info-modal-title {
    color: rgb(240, 240, 240);
    position: absolute;
    margin: 4px;
    text-shadow: 0px 0px 10px rgba(14, 14, 14, 0.85);
}

.story-info-modal-img {
    background-color: rgba(0, 0, 0, 20%);
    opacity: 40%;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
}

.btn-close {
    position: absolute;
    margin: 4px;
    left: 93.5%;
}

.story-info-modal-body { 
    padding: 1%;
    background-color: rgb(240, 240, 240);
}

.story-genre-container {
    padding: 0px;
    margin-bottom: 1.5%;
}

h6 {margin-bottom: 1%;}

.story-genre {
    color: rgb(240, 240, 240);
    font-size: 12px;
    padding: 1.15% 1.15%;
    margin: .5% 1% 1% 0%;
    align-items: center;
    background-color: var(--bs-blue);
    border-radius: .25rem;
    pointer-events: none;
}

hr {
    margin: 2.5% 0% 1% 0%;
    opacity: 10%;
}

.description {margin: 0px;}

.description > a {text-decoration: none;}

.story-info-modal-footer {
    background-color: rgb(240, 240, 240);
    padding: 0px;
}

.chapter-selection-container {padding: 0px;}

.convert-btn {min-width: 98.75%;}

.download-btn {min-width: 98.75%;}

#inputGroup-sizing-sm {
    min-width: 48px; 
    align-items: center; 
}